body{
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* NavBar */
.navbar{
    /* height: 5rem; */
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    font-size: 1.3rem !important;
    color: #222222 !important;
}
.brand{
    display: flex;
    align-items: center;
}
  
/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.f-info-socials, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}


/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Index styling */
#filters-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
  }
  @media (max-width: 1300px){
    #filters-wrapper{
      flex-direction: column;
    }
    .tax-toggle{
      position: relative;
      bottom: 10px;
    }
  }

  #filters{
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    align-items: center;
    padding-right: 1rem;
  }
  #filters::-webkit-scrollbar {
  display: none;
 }
  .filter{
    margin-right: 2rem;
    text-align: center;
    margin-top: 2rem;
    opacity: 0.5;
    flex: 0 0 auto;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter.active {
  opacity: 1 !important;
  border-bottom: 2px solid black;
}
  .filter p{
    font-size: 0.8rem;
  }
  .filter a{
    text-decoration: none;
    color: black;
  }

#scroll-hint {
   position: absolute;
  right: -5px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #555;
  background-color: white;
  padding: 0 5px;
  z-index: 10;
  opacity: 0.6;
  cursor: pointer;
  pointer-events: auto;
}
#scroll-hint:hover{
    opacity: 1;
}
@media (min-width: 950px) {
  #scroll-hint {
    display: none;
  }
}

#scroll-hint-left {
  position: absolute;
  left: -5px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #555;
  background-color: white;
  padding: 0 5px;
  z-index: 10;
  opacity: 0.6;
  cursor: pointer;
  pointer-events: auto;
  display: none; /* hidden by default */
}


  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 22px;
    width: 36vh;
    font-size: clamp(0.6rem, 3vw, 1rem);
  }

  @media (max-width: 450px){
    .tax-toggle{
      width: 20vh;
      font-size: 0.6rem;
      height: 2rem;
    }
  }
